.m_body{
    margin: 0%;
    background-color: #292929;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.m_header_1{
    background-color: black;
    display: flex;
    justify-content: center;
}
.m_header_1 img{
    width: 5rem;
}

.m_header_2{
    background-color: #b21111;
    display: flex;
    justify-content: center;
    height: 2rem;
    align-items: center;
}

.m_header_2 h2{
    font-family: "Shrikhand", serif;
    font-style: normal;
    text-shadow: 
    -1px -1px 0 #fff,  
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff;
}

.m_footer{
    background-color: black;
    height: 5rem;
    border-top: 2rem solid #b21111;
    display: flex;
    justify-content: center;
    padding: 0.4rem;
}

.m_footer img{
    width: 5rem;
}
.a_main{
    display: flex;
    justify-content: center;
}
#a_cadastro{
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 40rem;
    height: 40rem;
    background-color: white;
    justify-content: left;
    border: black 10px solid;
    border-radius: 10%;
    
}
.a_c2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.a_tabelinha label{
    width: 20rem;
    padding: 0.3rem;
    color: white;
    background-color: blue;
    left: 5rem;
}
.a_tabelinha{
    background-color: #b21111;
    border: 2px solid black;
    border-bottom-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    margin-top: 0.5rem;
    width: auto;

}
.a_tabelinha input{
    border-top-right-radius: 0.3rem;
    width: 15rem;
}

button{
    margin-top: 0.9rem;
    width: 10rem;
    height: 2rem;
    font-size: 110%;
}

b{
    width: 500px;
    height: 50px;
}