@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@1,200&family=Shrikhand&display=swap');


.m_body{
    margin: 0%;
    background-color: #292929;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.m_header_1{
    background-color: black;
    display: flex;
    justify-content: center;
}
.m_header_1 img{
    width: 5rem;
}

.m_header_2{
    background-color: #b21111;
    display: flex;
    justify-content: center;
    height: 2rem;
    align-items: center;
}

.m_header_2 h2{
    font-family: "Shrikhand", serif;
    font-style: normal;
    text-shadow: 
    -1px -1px 0 #fff,  
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff;
}

/* main */

.m_titulo{
    text-align: center;
    color: aliceblue;
}

.m_pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
}
.m_pesquisa img{
    width: 2rem;
    padding: 5px;
    filter: invert(100%);
}
#m_barra{
    width: 40rem;
    height: 2rem;
    border-radius: 1rem;
    border: 5px solid rgb(82, 0, 0);
}

.m_ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.m_ul .m_li_cliente{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    border: 3px solid black;
    border-radius: 1rem;
    padding: 0.4rem;
    width: 80%;
}
.m_ul .m_li_cliente:hover{
    border: red 3px solid;
    background-color: #e7e7e7;
}
.m_li_nome{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.m_li_nome img{
    width: 5rem;
}
#m_seta{
    width: 5rem;
}

.m_ul .m_tabela{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.4rem;
    width: 80%;
    padding-left: 5rem;
    background-color: #292929;
    color: aliceblue;
}
.m_ul .m_tabela .m_tabela_cpf{
    margin-left: 3rem;
}
.m_ul .m_tabela .m_tabela_fone{
    margin-right: 3rem;
}
.m_ul .m_tabela .m_tabela_ponto{
    color: #292929;
}


.m_footer{
    background-color: black;
    height: 5rem;
    border-top: 2rem solid #b21111;
    display: flex;
    justify-content: center;
    padding: 0.4rem;
}

.m_footer img{
    width: 5rem;
}




/* INDEX */

.m_body_index{
    margin: 0%;
    background-color: #292929;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.m_body_index main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.m_inicio ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;

    padding: 6rem;
}
.m_inicio ul a{
    color: black;
    text-decoration: none;
}
.m_li_inicio{
    background-color: aliceblue;
    border: black 7px solid;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    width: 25rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    margin-bottom: 3rem;
}
.m_li_inicio:hover{
    border: red 7px solid;
    background-color: #e7e7e7;
}





/* PRECO */


.k_li_preco{
    background-color: aliceblue;
    border: black 7px solid;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    width: 25rem;
    height: 20rem;
    display: flex;
    align-items: center;
    font-size: 150%;
    margin-bottom: 3rem;
    flex-direction: column;
}
.k_li_preco:hover{
    border: red 7px solid;
    background-color: #e7e7e7;
}